-- Example 0
1
CHALLENGE

CHALLENG
-- Example 1
1
THEWORD

THEWORD
-- Example 2
4
THE
MULTI
LINE
TEST

HEMULTI
-- Example 3
2
ZYXWVUTSRQPONMLKJIHGFEDCBA
ZYXWVUTSRQPONMLKJIHGFEDCBA

AZYXWVUTSRQPONMLKJIHGFEDCB
