-- Example 0
atan

4
aaan
aaaa
aaba
babb
-- Example 1
ir

2
ar
aa
-- Example 2
aaa

3
aab
abb
bbb
-- Example 3
bazinga

7
aazinga
aaainga
aaaanga
aaaaaga
aaaaaaa
aaaaaab
abbaabb
-- Example 4
bcdab

5
acdab
aadab
aaaab
aaaaa
aaaca
