-- Example 0
3
F..
.$.
...

4
-- Example 1
5
.F#...
F....#
.F###.
F.#.$.
F.#...

-1
-- Example 2
5
....#.
$##.#.
.#..#F
.F#.#.
..#...

7
-- Example 3
5
...$..
..#...
..###.
..#...
F.#.F.

7
-- Example 4
7
.F....F.
.#.##.#.
.#....#.
F.$##..F
.#....#.
.###.##.
.F....F.

4
