-- Example 0
10
YYYYYYYYYY
YYYYYYYYYY
YYYYYYYYYY
YYYYYYYYYY
YYYYYYYYYY
YYYYYYYYYY
YYYYYYYYYY
YYYYYYYYYY
YYYYYYYYYY
YYYYYYYYYY
9

24
-- Example 1
3
YYNN
NYYN
NNYY
3

4
-- Example 2
3
YY
YY
YY
3

0
-- Example 3
6
YYNNNN
NYYNNN
NNYYNN
NNNYYN
NNNNYY
YNNNNY
3

112
